.hover__blocks {
    padding-block: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .img_subtext {
        color: #A1A1A1;
        font-size: 14px;
        line-height: 20px;
    }
}