@use "../../../../assets/styles/responsive.scss" as m;

.about-local-section {
  max-width: 635px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 60px;

  @include m.respond-to(xlarge) {
    padding-inline: 20px;
  }

  .__text {
    text-align: center;
    font-size: 62px;
    font-weight: bold;
    line-height: 96px;
    color: #666666;

    @include m.respond-to(xlarge) {
      font-size: 32px;
      line-height: 45px;
    }
  }

  .__title {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
  }

  .inner-text {
    display: block;
    color: #000;
  }

  .__subtext {
    font-size: 16px;
    color: #000;

    p {
      margin-bottom: 10px;
    }

    //&::after {
    //  content: "";
    //  position: absolute;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  opacity: 0.8;
    //  background: linear-gradient(to top, white, transparent);
    //  pointer-events: none;
    //}
  }
}

.scroll-section {
  position: relative;
  //height: 100vh; /* Height large enough to allow scrolling */
  max-width: 100%; /* Max width of the container */
  margin: 0 auto; /* Center the container */
}

.scroll-element {
  position:sticky;
  top:0;
  height: auto; /* Full height */
  display: flex;
  max-width: 90vw;
  justify-content: center;
  margin:0 auto;/* Center the image horizontally */
}

.scrolling-image {
  width: 100%; /* Full width image */
  clip-path: inset(0% 25% 0% 25%); /* Start clipped from both sides */
  transition: none; /* GSAP will handle the animation */
}

.mobile-scroll-section {
  display:none;
}

@media (max-width:768px) {
  .scroll-section {
    display:none;
  }
  .mobile-scroll-section {
    display:block;
  }
}

//.sticky-section {
//  position: relative;
//  height: 100vh; /* Make the section long enough for scrolling */
//  max-width: 90vw; /* Max width of the container */
//  margin: 0 auto; /* Center the container */
//}
//
//.sticky-element {
//  position: -webkit-sticky;
//  position: relative;
//  top: 0;
//  height: 100vh; /* Full viewport height */
//  display: flex;
//  justify-content: center; /* Centers the image horizontally */
//}
//
//.sticky-image {
//  width: 100%; /* Full width image */
//  clip-path: inset(0% 25% 0% 25%); /* Start clipped from both left and right */
//  transition: none; /* Disable transitions, GSAP will handle it */
//}


//.image-flip {
//  position: relative;
//  max-width: 90vw;
//  margin: 0 auto;
//}
//
//.image-container {
//  z-index: 1;
//  position: relative;
//  width:100%;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  clip-path: inset(0% 20% 0% 20% round 0px);
//
//  img {
//    width: 100%;
//    height: auto;
//    object-fit: cover;
//  }
//}
