<div class="scroll-container block__item" #scrollContainer>
  <ng-container *ngFor="let item of data(); let i = index">
    <!-- Sticky header that appears on scroll -->
    <div
      #blockTitle
      class="block-title header"
      [ngClass]="{
        'sticky-active': isScrolled[i],
        'z-index-layer': true
      }"
      [style.zIndex]="data().length - i + 10"
      [ngStyle]="{
        position: 'sticky',
        top: getStickyTopPosition(i)
      }"
    >
      <h3 class="title pb-0 helvetica-roman center">
        <strong>{{ translate.getTranslation(item?.title) }}</strong>
      </h3>
    </div>

    <!-- Content section that's always visible until scrolled past -->
    <div class="block-content-parent">
      <div
        class="block-content flex center"
        [ngClass]="{ 'content-active': isScrolled[i] }"
      >
        <div class="__left flex flex-col w-3/6">
          <div>
            <div class="block-title pl-0 pr-0">
              <h3 class="title pb-0 helvetica-roman pr-0 pl-0">
                <strong>{{ translate.getTranslation(item?.title) }}</strong>
              </h3>
            </div>
            <div
              class="text helvetica-light"
              [innerHTML]="translate.getTranslation(item?.content)"
            ></div>

            <button
              (click)="service.toggleOpen(true)"
              class="btn btn-secondary helvetica"
            >
              {{ translate.getTranslation(item?.button_text) }}
            </button>
          </div>
        </div>
        <div class="__right w-3/6">
          <img
            [src]="item?.main_image"
            alt="{{ translate.getTranslation(item?.title) }}"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
