.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 4px;
    display: flex;
    align-items: center;

    .page-link {
        color: #666666;
        font-size: 23px;
        transition: 0.3s;
    }
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #ccc;
    opacity: 0.5;
}

.page-item.active .page-link {
    color: #B80E45;
    pointer-events: none;
}

.page-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}