@use "../../../../assets/styles/responsive.scss" as m;


.background__image {
  padding-top: 70px;
  position: relative;
  background-color: #F8F8F8;

  @include m.respond-to(medium) {
    padding-top: 0;
  }

  .sticky-parent {
    padding-bottom: calc(100vh - 453px);

    @include m.respond-to(medium) {
      padding-bottom: 0;
    }
  }

  .sticky-element {
    position: sticky;
    top: 230px;
    background-color: #F8F8F8;
    border: 1px solid #E1E1E1;
    height: 180px;

    svg {
      opacity: 0;
      transition: 0.3s;
    }

    &:hover svg {
      opacity: 1;
    }

    @include m.respond-to(medium) {
      height: 254px;
    }

    .up__text {
      font-size: 20px;
      line-height: 25px;
      color: #181818;
    }

    .down__text {
      line-height: 24px;
      font-size: 16px;
      color: #767676;
    }

    &:not(:nth-child(2)) {
      margin-top: 70px;
    }

    p {
      color: #767676;
    }

    &:first-child {
      border: 1px solid #b80e45;
    }

    &.sticky__0 {
      @include m.respond-to(small) {
        top: 400px;
      }

      @include m.respond-to(medium) {
        top: 400px;
      }
    }

    &.sticky__1 {
      @include m.respond-to(small) {
        top: 420px;
      }

      @include m.respond-to(medium) {
        top: 420px;
      }
    }

    &.sticky__2 {
      @include m.respond-to(small) {
        top: 440px;
      }

      @include m.respond-to(medium) {
        top: 440px;
      }
    }

    &.sticky__3 {
      @include m.respond-to(small) {
        top: 460x;
      }

      @include m.respond-to(medium) {
        top: 460px;
      }
    }

    &.sticky__4 {
      @include m.respond-to(small) {
        top: 480px;
      }

      @include m.respond-to(medium) {
        top: 480px;
      }
    }


    margin-bottom: 0;
  }

  .slider__Action {
    .slider__numbering {
      color: #929292;
      opacity: 0;
      transition: 0.3s;
    }

    .slider__line {
      border-bottom: 2px solid #767676;
      height: 2px;
      width: 16px;
      margin-bottom: 6px;
      margin-left: 5px;
      transition: 0.2s;
    }

    &.active {
      .slider__line {
        transition: 0.2s;
        border-color: #b80e45;
        width: 42px;
      }

      .slider__numbering {
        opacity: 1;
      }
    }
  }



  .top__side {
    position: sticky;
    top: 50px;
    height: 180px;
    overflow: hidden;
    align-items: flex-start;

    @include m.respond-to(small) {
      height: 190px;
      top: 0;
    }


    .rotating__image {
      width: 1236px;
      min-width: 655px;
      max-width: 655px;
      transition: transform 0.1s;
      opacity: 0.5;
      transform-origin: center center;
      margin-right: -360px;

      @include m.respond-to(medium) {
        margin-right: -330px;
        margin-top: -90px;
      }


      // transform: translateY(-8px) scale(1.2) translateX(330px) rotate(134deg);

      &.active__2 {
        // transform: translateY(-428px) scale(1.5) translateX(266px) rotate(57deg);
        transform: translateY(35px) scale(1.4) translateX(276px) rotate(221deg);
      }

      &.active__3 {
        // transform: translateY(-260px) scale(1.5) translateX(311px) rotate(180deg);
        transform: translateY(63px) scale(1.3) translateX(300px) rotate(292deg);
      }

      &.active__4 {
        // transform: translateY(-343px) scale(1.6) translateX(280px) rotate(236deg);
        transform: translateY(-70px) scale(1.2) translateX(313px) rotate(344deg);
      }

      &.active__5 {
        // transform: translateY(-180px) scale(1.5) translateX(293px) rotate(349deg);
        transform: translateY(115px) scale(1.4) translateX(237px) rotate(452deg);
      }

      @include m.respond-to(medium) {

        // transform: translateY(-330px) scale(1) translateX(330px) rotate(17deg);
        transform: translateY(-80px) scale(0.8) translateX(425px) rotate(142deg);

        &.active__2 {
          // transform: translateY(-470px) scale(1) translateX(290px) rotate(57deg);
          transform: translateY(-80px) scale(0.8) translateX(401px) rotate(229deg);
        }

        &.active__3 {
          // transform: translateY(-320px) scale(1) translateX(345px) rotate(180deg);
          transform: translateY(-65px) scale(0.8) translateX(425px) rotate(293deg);
        }

        &.active__4 {
          // transform: translateY(-390px) scale(1) translateX(300px) rotate(236deg);
          transform: translateY(-100px) scale(0.8) translateX(423px) rotate(352deg);
        }

        &.active__5 {
          // transform: translateY(-180px) scale(1) translateX(293px) rotate(349deg);
          transform: translateY(-75px) scale(0.8) translateX(415px) rotate(431deg);
        }

      }
    }
  }



  .brochure {
    position: sticky;
    left: 0;
    top: calc(100vh);
    bottom: 0;
    letter-spacing: 0.32px;

    @include m.respond-to(medium) {
      left: 20px;
      top: 60px;
      bottom: initial;
      position: absolute;
      z-index: 5;
      // left: 0;
      // bottom: -60px;
    }

    // @include m.respond-to(small) {
    //   left: 20px;
    //   top: 30px;
    // }

    span {
      font-size: 22px;
      color: #B80E45;
      transition: 0.3s;

      @include m.respond-to(medium) {
        font-size: 20px;
      }

      @include m.respond-to(medium) {
        font-size: 20px;
      }
    }

    rect {
      transition: 0.3s;

    }

    &:hover {
      span {
        color: #E69E3A;
      }

      rect {
        fill: #E69E3A;
      }
    }
  }

  .__left {
    position: sticky;
    top: 130px;
    height: calc(100vh - 230px);
    margin-top: 25px;

    .main__title {
      font-size: 36px;
      // font-weight: 700;
      line-height: 44px;
      color: #767676;
      max-width: 470px;
      letter-spacing: 0.16px;

      strong {
        font-weight: 400;
        color: black;
      }

      @include m.respond-to(small) {
        font-size: 28px;
        line-height: 40px;
      }
    }

    @include m.respond-to(medium) {
      top: 240px;
      height: initial;
      width: 80%;
      margin-bottom: 80px;

      .helvetica {
        font-size: 28px;
      }
    }
  }
}