@if (data && data?.length) {
<div class="relative __wizards">
    <div class="center py-[40px]">
        <h2 class="main__title helvetica-roman pb-0" [innerHtml]="title()"></h2>
    </div>
    <div class="carousel-container wizards-container" #carouselContainer>
        <div class="carousel" [ngStyle]="{'transform': transformStyle}" #carousel>
            <div *ngFor="let slide of data; let i = index" class="carousel-item">
                <img [src]="translationService.getImgSrc(slide?.main_image)" [alt]="slide?.name" class="slide__img" />
                <div class="right__side flex flex-col justify-between pl-[16px]">
                    <span class="helvetica-roman">{{i < 9 ? 0 : ''}}{{i +1}} </span>
                    <div class="flex-col flex text__block">
                        <span class="couturier-Regular __title">
                            {{ translationService.getTranslation(slide?.position) }}
                        </span>
                        <h2 class="helvetica-roman __text pb-0">
                            {{ translationService.getTranslation(slide?.name) }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}